body {
    background-color: #ffffff;
    padding: 0;
    font-family: Arial;
}
h1{
  position: absolute;
}

#home{
  width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: black;
}

#battle1{
    width: 400px;
    height: 300px;    
    margin:auto;
    background:#5d3a3a;

}
#battle1_2{
    position: absolute;
    width:200px;
    height:200px;
    background:#b5e0ba;
}


#battle2{
    width: 400px;
    height: 300px;  
    background:#62374e;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}
#a{
margin-top:50px;
margin-left:42px;
}
#a,#b,#c,#d{
  width:50px;
  height:50px;
  background:#fdc57b;
}
#b{
position:relative;
margin-top:100px;
margin-left:42px;
}
#c,#d{
  margin-top:-200px;
  margin-left:292px;
}
#d{
  margin-top:100px;
}


#battle3{ 
    width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#62306d;
}
#hola,#hola:after,#hola:before{
width:100px;
height:100px;
background:#f7ec7d;
}
#hola{
border-radius:50% 50% 0 0;
position:relative;
margin-bottom:100px;
}
#hola:after,#hola:before{
content:"";
position:absolute;
border-radius:0 0 50% 50%;
top:100%;
}
#hola:before{
right:100px;
}#hola:after{
left:100px;
}


#battle4{
    width: 400px;
    height: 300px;  
    position: absolute;
    z-index: -2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display:flex;align-items:center;justify-content:center;background:#0b2429;
}
    
#el_4{
width:120px;
height:120px;
background:#998235;
border-radius:50% 0 50% 50%;
position:absolute;
}
#el_4:after,#el_4:before{
        content:"";
        width:120px;
        height:120px;
        background:#f3ac3c;
        display:block;
        position:absolute;
        border-radius:inherit;
    }
#el_4:before{
left:-60px;top:60px;
    z-index: 3;
}#el_4:after{
  left:60px;
  top:-60px;
  transform:scale(-1);
  z-index:-1;
}



#battle5{
    width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background:#e3516e;
}
#el_5,#el_5:after,#el_5:before{
width:100px;
height:100px;
position:absolute;
}
#el_5{
left:50%;
top:50px;
background:#fade8b;
border-radius:0 100px 0 0;
}
#el_5:after,#el_5:before{
    content:"";
    display:block;
    background:#f7f3d7;
    top:0;
    border-radius:inherit;
    transform-origin:0 100%;
  }
  #el_5:after{
  transform:rotate(-180deg);
}
#el_5:before{
background:#51b5a9;
transform:rotate(-90deg);
}


#battle6{
    width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -2;
    display:flex;
    background:#0b2429;
    align-items:center;
    justify-content:center;
  }
#el_6{
width:150px;
height:150px;
background:#998235;
border-radius:100px 0;
position:relative;
}
#el_6:after,#el_6:before{
content:"";
width:150px;
height:150px;
background:#f3ac3c;
display:block;
position:absolute;
border-radius:inherit;
}
#el_6:before{
  left:-50px;
  background:#1a4341;
  z-index:-1;
}
#el_6:after{
  left:50px;
}

#battle7{
    width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background:#0B2429;
  }
  #el_7{
    width:0px;
    height:0px;
    border-top:140px solid #F3AC3C;
    border-right:140px solid transparent;
  }
  
  #battle8{
    width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background:#007065;   
    }
    #el_8_1{
      top:42px;
      border-color:transparent transparent #FFEECF;
      z-index: 3;
    }
    #el_8_2{
        z-index: 2;
      top:92px;
      border-color:transparent transparent #F5C181;  
    }
    #el_8_3{
        z-index: 1;
      top:142px;
      border-color:transparent transparent #00A79D;
    }
    #el_8_1, #el_8_2,#el_8_3{
      position:absolute;
      left:67px;
      border-style:solid;
      border-width:0 125px 100px 125px;
    }

    #battle9{
        width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
        background:#1A4341;
      }
      .beak{
        margin:50px 192px;
        width:100px;
        height:100px;
        background:#F3AC3C;
        border-radius:0 100% 0 0;
      }
      #p{
          position: relative;
        top:30px;
        left:30px;
        background:#0B2429;
        width:30px;
        height:30px;
        border-radius:50%;
    
      }
      #h2{
          position: relative;
        top:25px;
        left:-75px;
        background:#998235;
        width:75px;
        height:150px;
        border-radius:90px 0 0 90px;
      }

#battle10{
    width: 400px;
    height: 300px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: solid;
       border-color: black;
}
#el10_1{
        position:absolute;
        top:33.5px;
        left:175px;
        width:50px;
        height:200px;
        background:#A3A368;
        transform:rotate(45deg);
      }
#el10_1+#el10_1{
        transform:rotate(-45deg);
        background:#F3AC3C;
        top:34px;
}
#el10_2{
        position:absolute;
        display:block;
        background:#FBE18C;
        width:50px;
        height:50px;
        top:75px;
}

#menu ul{
    background-color: #009933;
    list-style: none;
    width: 1000px;
    margin: 30px auto;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}

#menu ul li{
    display: inline-block;
    
}

#menu ul li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;

}

#menu ul li a:hover{
    background-color: #ffffff;
    color: black;
}